<div class="container">
    <h2>Percentual de obesos entre os homens e entre as mulheres</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sexo</th>
                <th>Percentual</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td> Masculino </td>
                <td> {{ obesos.MASCULINO }} % </td>
            </tr>
            <tr>
                <td> Feminino </td>
                <td> {{ obesos.FEMININO }} % </td>
            </tr>
        </tbody>
    </table>
</div>